<html>
    <head>
        <title>Microbakery Database</title>
    </head>
    <body>
        <div id="add-to-form">
            <form method="POST" action="/order_products">
                {{ form.crsf_token }}
            
                {{ form.order_id.label }} {{ form.order_id }}
                {{ form.product.label }} {{ form.product }}
                {{ form.quantity.label }} {{ form.quantity }}
                
                {{ form.submit }}
            </form>
        </div>

        <div>
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>

    </body>
</html>