<html>
    <head>
        <title>Microbakery Database</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    </head>
    <body>
        <section class="hero is-info is-small">
            <div class="hero-body has-text-centered">
                <img src="static/images/bread.png" alt="bread">
                <h1 class="title m-2">Microbakery Database</h1>
                <h1 class="subtitle">A database management system for all your small-scale or home bakery needs!</h1>
            </div>
        </section>

        <section class="section">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title">About the site</p>
                        <a href=https://github.com/scottross123/database-systems-term-project>GitHub Repo</a>
                        <p></p>
                    </div>
                </div>

                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <p class="title">Add to a table!</p>
                        <p>links</p>
                    </div>
                    <div class="tile is-child box">
                        <p class="title">Show a table!</p>
                        <p>links</p>
                    </div>
                </div>
                
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <p class="title">Select or delete from a table!</p>
                        <p>links</p>
                    </div>
                    <div class="tile is-child box">
                        <p class="title">Advanced queries!</p>
                        <p>links</p>
                    </div>
                </div>
            </div>
          </section>

    </body>
</html>